@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-Regular.ttf");
}

body {
    font-family: Inter, sans-serif;
    background-color: rgba(236, 236, 236, 0.61);
    font-size: 1.1rem;
}

.navbar-nav>li a:hover {
    background: linear-gradient(to right, red, #ffba02, green, blue, indigo, violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#clock {
    font-family: monospace;
}

footer {
    background-color: #ffffff;
    border: 1px solid #ddd;
}